[submodule "lingbot-vision"]
	path = lingbot-vision
	url = https://github.com/Robbyant/lingbot-vision.git
    ignore = dirty   # 中の変更を status に出さない（all なら完全に無視）
[submodule "lingbot-depth"]
	path = lingbot-depth
	url = https://github.com/Robbyant/lingbot-depth.git
	ignore = dirty   # 中の変更を status に出さない（all なら完全に無視）
